nav {
    background-color: #657c92;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: #c1e3e7;
    }
    button {
        background: rgb(147, 195, 209) !important;
    }
    ul {
        li {
            margin-right: 10px;
        }
    }
}