h2 {
    text-align: center;
}

.registrationForm {
    /* background-color: #ccc; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
}

// form {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
// }

button[type="submit"] {
    display: block;
    background-color: rgb(38, 125, 224);
    color: #ebe2e2;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
}

button[type="submit"]:hover {
    color: #fff;
}

button[type="submit"]:active {
    transform: scale(0.98);
    opacity: 0.8;
}

label {
    // border: 1px solid red;
    width: 55px;
}

input[type="checkbox"] {
    // border: 1px solid red;
    margin-left: 10px;
}